##### Cours : Train / Test Split for Linear Regression - Pandas For Machine Learning 27
##### Lien : https://www.youtube.com/watch?v=zAxuIlCBvOw


Date : 28-03-23
***

In [2]:
# %pip install scikit-learn

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes

In [2]:
# Load our diabetes dataset
diabetes = load_diabetes()

In [3]:
# Convert the data to a pandas df
my_df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
my_df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [4]:
# Add the target
my_df['target'] = diabetes.target
my_df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

In [7]:
# Split the data into x and y
x = my_df.drop('target', axis=1)
y = my_df['target']
x.shape, y.shape

((442, 10), (442,))

In [8]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42)

# print out the shape of the training and testing sets
print("Training set shape : ", x_train.shape, y_train.shape)
print("Testing set shape : ", x_test.shape, y_test.shape)

Training set shape :  (353, 10) (353,)
Testing set shape :  (89, 10) (89,)