In [ ]:
"""
Data Science : la librairie pandas
Lien : https://www.youtube.com/watch?v=vmEHCJofslg

Modification des index sur une nouvelle variable :
Lorsqu'on affecte un filtre sur le fichier dans une nouvelle
variable, les index qui ressortent ne sont pas réinitialisés.

Éditeur : Laurent REYNAUD
Date : 30-06-2021
"""

In [1]:
import pandas as pd

In [2]:
# Récupération du fichier .csv
df_csv = pd.read_csv('data/pokemon_data.csv')

In [3]:
# Création d'une nouvelle variable sur le filtre procédé
# dans le fichier d'origine
new_df_csv = (df_csv.loc[(df_csv['Type 1'] == 'Grass') 
                 & (df_csv['Type 2'] == 'Poison')
                 & (df_csv['HP'] > 70)])

In [4]:
# Les index de cette nouvelle variable ne sont pas réinitialisés
new_df_csv

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [5]:
"""Réinitialisation des index
Pour masquer l'ancienne colonne index qui s'affichera automatiquement
compléter la fonction reset_index() en passant en argument : drop=True"""
new_df_csv = new_df_csv.reset_index(drop=True)

In [6]:
new_df_csv

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False