## Utilisation de Jupyter
***
Lien : https://www.youtube.com/watch?v=YuWZNV4BkkY <br>
Date : 01-06-22

#### 1. Lancement du programme sans passer par le terminal : installation d'un package

In [3]:
%pip install seaborn

Requirement already satisfied: seaborn in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: pandas>=0.23 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (4.33.3)
Requirement already satisfied: packaging>=20.0 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lrcom\appdata\roaming\python\python39\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lrcom\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lrcom\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\Users\LRCOM\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

#### 2. Affichage des données avec Pandas (étape 2 du tuto non présenté : concerne les touches raccourcis)

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('data/titanic.csv')

In [14]:
pd.options.display.max_rows = 200 # Nombre de lignes à afficher
pd.options.display.max_columns = 50 # Nombre de colonnes à afficher

In [25]:
pd.options.display.max_colwidth = 20 # Largeur maximum des colonnes

In [29]:
pd.options.display.precision = 2 # Affichage des décimales dans un champ numérique

In [30]:
df.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen...",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. Jo...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss....",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. J...",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. Willi...",male,35.00,0,0,373450,8.05,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.46,NaN,Q
6,7,0,1,"McCarthy, Mr. Ti...",male,54.00,0,0,17463,51.86,E46,S
7,8,0,3,"Palsson, Master....",male,2.00,3,1,349909,21.07,NaN,S
8,9,1,3,"Johnson, Mrs. Os...",female,27.00,0,2,347742,11.13,NaN,S
9,10,1,2,"Nasser, Mrs. Nic...",female,14.00,1,0,237736,30.07,NaN,C
10,11,1,3,"Sandstrom, Miss....",female,4.00,1,1,PP 9549,16.70,G6,S
11,12,1,1,"Bonnell, Miss. E...",female,58.00,0,0,113783,26.55,C103,S
12,13,0,3,"Saundercock, Mr....",male,20.00,0,0,A/5. 2151,8.05,NaN,S
13,14,0,3,"Andersson, Mr. A...",male,39.00,1,5,347082,31.27,NaN,S
14,15,0,3,"Vestrom, Miss. H...",female,14.00,0,0,350406,7.85,NaN,S
15,16,1,2,"Hewlett, Mrs. (M...",female,55.00,0,0,248706,16.00,NaN,S
16,17,0,3,"Rice, Master. Eu...",male,2.00,4,1,382652,29.12,NaN,Q
17,18,1,2,"Williams, Mr. Ch...",male,NaN,0,0,244373,13.00,NaN,S
18,19,0,3,"Vander Planke, M...",female,31.00,1,0,345763,18.00,NaN,S
19,20,1,3,"Masselmani, Mrs....",female,NaN,0,0,2649,7.22,NaN,C
20,21,0,2,"Fynney, Mr. Jose...",male,35.00,0,0,239865,26.00,NaN,S
21,22,1,2,"Beesley, Mr. Law...",male,34.00,0,0,248698,13.00,D56,S
22,23,1,3,"McGowan, Miss. A...",female,15.00,0,0,330923,8.03,NaN,Q
23,24,1,1,"Sloper, Mr. Will...",male,28.00,0,0,113788,35.50,A6,S
24,25,0,3,"Palsson, Miss. T...",female,8.00,3,1,349909,21.07,NaN,S
25,26,1,3,"Asplund, Mrs. Ca...",female,38.00,1,5,347077,31.39,NaN,S
26,27,0,3,"Emir, Mr. Farred...",male,NaN,0,0,2631,7.22,NaN,C
27,28,0,1,"Fortune, Mr. Cha...",male,19.00,3,2,19950,263.00,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. E...",female,NaN,0,0,330959,7.88,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.90,NaN,S
30,31,0,1,"Uruchurtu, Don. ...",male,40.00,0,0,PC 17601,27.72,NaN,C
31,32,1,1,"Spencer, Mrs. Wi...",female,NaN,1,0,PC 17569,146.52,B78,C
32,33,1,3,"Glynn, Miss. Mar...",female,NaN,0,0,335677,7.75,NaN,Q
33,34,0,2,"Wheadon, Mr. Edw...",male,66.00,0,0,C.A. 24579,10.50,NaN,S
34,35,0,1,"Meyer, Mr. Edgar...",male,28.00,1,0,PC 17604,82.17,NaN,C
35,36,0,1,"Holverson, Mr. A...",male,42.00,1,0,113789,52.00,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.23,NaN,C
37,38,0,3,"Cann, Mr. Ernest...",male,21.00,0,0,A./5. 2152,8.05,NaN,S
38,39,0,3,"Vander Planke, M...",female,18.00,2,0,345764,18.00,NaN,S
39,40,1,3,"Nicola-Yarred, M...",female,14.00,1,0,2651,11.24,NaN,C
40,41,0,3,"Ahlin, Mrs. Joha...",female,40.00,1,0,7546,9.47,NaN,S
41,42,0,2,"Turpin, Mrs. Wil...",female,27.00,1,0,11668,21.00,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.90,NaN,C
43,44,1,2,"Laroche, Miss. S...",female,3.00,1,2,SC/Paris 2123,41.58,NaN,C
44,45,1,3,"Devaney, Miss. M...",female,19.00,0,0,330958,7.88,NaN,Q
45,46,0,3,"Rogers, Mr. Will...",male,NaN,0,0,S.C./A.4. 23567,8.05,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.50,NaN,Q
47,48,1,3,"O'Driscoll, Miss...",female,NaN,0,0,14311,7.75,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.68,NaN,C
49,50,0,3,"Arnold-Franchi, ...",female,18.00,1,0,349237,17.80,NaN,S
50,51,0,3,"Panula, Master. ...",male,7.00,4,1,3101295,39.69,NaN,S
51,52,0,3,"Nosworthy, Mr. R...",male,21.00,0,0,A/4. 39886,7.80,NaN,S
52,53,1,1,"Harper, Mrs. Hen...",female,49.00,1,0,PC 17572,76.73,D33,C
53,54,1,2,"Faunthorpe, Mrs....",female,29.00,1,0,2926,26.00,NaN,S
54,55,0,1,"Ostby, Mr. Engel...",male,65.00,0,1,113509,61.98,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.50,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.50,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.23,NaN,C
58,59,1,2,"West, Miss. Cons...",female,5.00,1,2,C.A. 34651,27.75,NaN,S
59,60,0,3,"Goodwin, Master....",male,11.00,5,2,CA 2144,46.90,NaN,S
60,61,0,3,"Sirayanian, Mr. ...",male,22.00,0,0,2669,7.23,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.00,B28,NaN
62,63,0,1,"Harris, Mr. Henr...",male,45.00,1,0,36973,83.47,C83,S
63,64,0,3,"Skoog, Master. H...",male,4.00,3,2,347088,27.90,NaN,S
64,65,0,1,"Stewart, Mr. Alb...",male,NaN,0,0,PC 17605,27.72,NaN,C
65,66,1,3,"Moubarek, Master...",male,NaN,1,1,2661,15.25,NaN,C
66,67,1,2,"Nye, Mrs. (Eliza...",female,29.00,0,0,C.A. 29395,10.50,F33,S
67,68,0,3,"Crease, Mr. Erne...",male,19.00,0,0,S.P. 3464,8.16,NaN,S
68,69,1,3,"Andersson, Miss....",female,17.00,4,2,3101281,7.92,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.66,NaN,S
70,71,0,2,"Jenkin, Mr. Step...",male,32.00,0,0,C.A. 33111,10.50,NaN,S
71,72,0,3,"Goodwin, Miss. L...",female,16.00,5,2,CA 2144,46.90,NaN,S
72,73,0,2,"Hood, Mr. Ambros...",male,21.00,0,0,S.O.C. 14879,73.50,NaN,S
73,74,0,3,"Chronopoulos, Mr...",male,26.00,1,0,2680,14.45,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.50,NaN,S
75,76,0,3,"Moen, Mr. Sigurd...",male,25.00,0,0,348123,7.65,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.90,NaN,S
77,78,0,3,"Moutal, Mr. Raha...",male,NaN,0,0,374746,8.05,NaN,S
78,79,1,2,"Caldwell, Master...",male,0.83,0,2,248738,29.00,NaN,S
79,80,1,3,"Dowdell, Miss. E...",female,30.00,0,0,364516,12.47,NaN,S
80,81,0,3,"Waelens, Mr. Ach...",male,22.00,0,0,345767,9.00,NaN,S
81,82,1,3,"Sheerlinck, Mr. ...",male,29.00,0,0,345779,9.50,NaN,S
82,83,1,3,"McDermott, Miss....",female,NaN,0,0,330932,7.79,NaN,Q
83,84,0,1,"Carrau, Mr. Fran...",male,28.00,0,0,113059,47.10,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.50,NaN,S
85,86,1,3,"Backstrom, Mrs. ...",female,33.00,3,0,3101278,15.85,NaN,S
86,87,0,3,"Ford, Mr. Willia...",male,16.00,1,3,W./C. 6608,34.38,NaN,S
87,88,0,3,"Slocovski, Mr. S...",male,NaN,0,0,SOTON/OQ 392086,8.05,NaN,S
88,89,1,1,"Fortune, Miss. M...",female,23.00,3,2,19950,263.00,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Fra...",male,24.00,0,0,343275,8.05,NaN,S
90,91,0,3,"Christmann, Mr. ...",male,29.00,0,0,343276,8.05,NaN,S
91,92,0,3,"Andreasson, Mr. ...",male,20.00,0,0,347466,7.85,NaN,S
92,93,0,1,"Chaffee, Mr. Her...",male,46.00,1,0,W.E.P. 5734,61.17,E31,S
93,94,0,3,"Dean, Mr. Bertra...",male,26.00,1,2,C.A. 2315,20.57,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.25,NaN,S
95,96,0,3,"Shorney, Mr. Cha...",male,NaN,0,0,374910,8.05,NaN,S
96,97,0,1,"Goldschmidt, Mr....",male,71.00,0,0,PC 17754,34.65,A5,C
97,98,1,1,"Greenfield, Mr. ...",male,23.00,0,1,PC 17759,63.36,D10 D12,C
98,99,1,2,"Doling, Mrs. Joh...",female,34.00,0,1,231919,23.00,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.00,NaN,S