In [ ]:
"""
Data Science : la librairie pandas
Lien : https://www.youtube.com/watch?v=vmEHCJofslg

Sauvegarde des modifications dans le fichier concerné :
-> dans un format .csv
-> dans un format .xlsx
-> dans un format .txt

Éditeur : Laurent REYNAUD
Date : 30-06-2021
"""

In [1]:
import pandas as pd

In [2]:
# Récupération du fichier .csv
df_csv = pd.read_csv('data/pokemon_data.csv')

In [3]:
# Total de la colonne indice n° 4 à l'indice n° 9 à l'horizontal
df_csv['Total'] = df_csv.iloc[:, 4:10].sum(axis=1) # axis=1 -> horizontal

In [4]:
df_csv.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [5]:
# Déplacement d'une colonne
# ATTENTION  : la colonne 'Total' est un str qu'il faut mettre en '[]'
# pour que cette colonne soit également une liste
cols = list(df_csv.columns.values)
df_csv = df_csv[cols[0:4] + [cols[-1]] + cols[4:12]]

In [6]:
df_csv.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
# Sauvegarde des données modifiées dans un fichier .csv 
# avec suppression de la colonne index
df_csv.to_csv('data/modified.csv', index=False)

In [8]:
# Sauvegarde des données modifiées dans un fichier .xlsx
df_csv.to_excel('data/modified.xlsx', index=False)

In [9]:
# Sauvegarde des données modifiées dans un fichier .txt 
# avec un séparateur entre les champs ('|' ici)
df_csv.to_csv('data/modified.txt', index=False, sep='|')

In [10]:
# Sauvergarde des données modifiées dans une nouvelle variable
new_df_csv = (df_csv.loc[(df_csv['Type 1'] == 'Grass') 
                 & (df_csv['Type 2'] == 'Poison')
                 & (df_csv['HP'] > 70)])
new_df_csv.to_csv('data/filered.csv', index=False)