"""
Lien : https://www.youtube.com/watch?v=eMOA1pPVUc4

Cours : Solving real world data science tasks with Python Pandas!

Fusionner des fichiers

Éditeur : Laurent REYNAUD

Date : 11-07-2021
"""

In [2]:
import pandas as pd
import os # récupération des fichiers d'un répertoire

In [3]:
"Fusion des 12 fichiers Sales_xxx en un seul fichier"

all_months_data = pd.DataFrame()

# Récupération des 12 fichiers dans le sous-répertoire 'sales' du répertoire 'data'
files = [file for file in os.listdir('data/sales')]

# Concaténation des fichiers dans le sous-répertoire 'sales'
for file in files:
    df = pd.read_csv('data/sales/'+file)
    all_months_data = pd.concat([all_months_data, df])

all_months_data.head(8)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101"

In [3]:
"Exportation de toutes les données dans un fichier CSV"

all_months_data.to_csv('data/sales/all_data.csv', index=False)