In [ ]:
"""
1ère analyse du fichier importé

Éditeur : Laurent REYNAUD
Date : 07-07-2021
"""

In [1]:
import seaborn as sns
import pandas as pd

In [2]:
# importation des données du titanic
titanic = sns.load_dataset('titanic')
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
"""Type d'objets pour chaque champ
-> bool : booléen
-> int64 : entiers
-> float64 : réels
-> object : chaînes de caractères
Pour cette instruction dtypes on a pas besoin de parenthèses car
elle est commune aussi bien pour les séries (tableau à 1D) que 
pour les dataframes (tableau à 2D)"""

titanic.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [5]:
# Obtention de données plus précises que ci-dessus
titanic.info()
# Dans les données ci-dessous on peut s'apercevoir qu'on ne connaissait pas 
# l'âge de 177 passagers (891 - 714) : passagers du 3ème classe ?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 63.0+ KB

In [7]:
# Affichage des données d'une colonne avec '[]'
# Chaque colonne est une série (tableau à 1D)
ages = titanic['age']
ages.head(10)
# On peut s'apercevoir que sur les 10 passagers, il y en a 1 dont on connaissait pas son âge

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64

In [8]:
# Nombre total d'entrées dans une colonne (ici 'ages')
ages.shape

(891,)